<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>{{ movie.name }}</h1>
	{% for i in actors %}
	{{ i.name }}
</br>
	Biography: {{ i.biography }}
</br>
	Age: {{ i.age }}
</br>
	<a href="{{url_for('editActor', movie_id = movie.id, actor_id = i.id)}}">Edit</a>
	</br>
	<a href="{{url_for('deleteActor', movie_id = movie.id, actor_id = i.id)}}">Delete</a>
	</br>
	</br>
	{% endfor %}
<a href = '{{url_for('newActor', movie_id = movie.id) }}'>Create New Actor</a>
</body>
</html>